%html
	%head
		%meta charset="utf-8"
		%title "PageTitle"
		%link rel="stylesheet" href="style.css"
	%body.b-page
		%header.b-header.b-header_state_collapsed "
			This is header text realy long text"
			%img.b-header__logo src="logo.png" alt="logo image"
		#main.b-content
			%p.b-content__txt
