%html
	%head
		%meta charset="utf-8"
		%title "PageTitle"
		%link rel="stylesheet" href="style.css"
	%body.b-page
		%header.b-header
			%img.b-header__logo src="logo.png"
		#main.b-content
			%p.b-content__txt
